$primaryColor: #05402f;
$primaryLight: #3e8c7e;
$primaryDark: #01261f;
$secondaryColor: #f2bbc5;
$secondaryLight: #fbeaed;
$colorWhite: #ffffff;
$colorBlack: #000000;
$orangeDark: #f25116;
$orangeLight: #f27329;
$lavendar: #bfa8ad;
$mutedGreen: #698c86;
