// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@import "./app/styles/theme";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $work-wise-web-primary: mat.define-palette(mat.$indigo-palette);
// $work-wise-web-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$work-wise-web-primary: mat.define-palette(
  (
    50: #e1e8e6,
    100: #b4c6c1,
    200: #82a097,
    300: #50796d,
    400: #2b5d4e,
    500: #05402f,
    600: #043a2a,
    700: #043223,
    800: #032a1d,
    900: #011c12,
    A100: #5affad,
    A200: #27ff93,
    A400: #00f37a,
    A700: #00da6d,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$work-wise-web-accent: mat.define-palette(
  (
    50: #fdf7f8,
    100: #fbebee,
    200: #f9dde2,
    300: #f6cfd6,
    400: #f4c5ce,
    500: #f2bbc5,
    600: #f0b5bf,
    700: #eeacb8,
    800: #eca4b0,
    900: #e896a3,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

// The warn palette is optional (defaults to red).
$work-wise-web-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$work-wise-web-theme: mat.define-light-theme(
  (
    color: (
      primary: $work-wise-web-primary,
      accent: $work-wise-web-accent,
      warn: $work-wise-web-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($work-wise-web-theme);

/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
  color: $colorBlack;
}

// Common Styles

.pageTitle {
  color: $primaryColor;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: $primaryDark;
    font-weight: 500;
  }
  .form-field {
    width: 90%;
    margin-bottom: 0.5rem;
  }
  .radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .radio-button-label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    min-width: 8rem;
  }
}

.table-container {
  .mat-mdc-header-cell {
    font-size: 1rem;
    color: $primaryColor;
  }
}

// Scroll Styles

/* Width and height for all scrollbars */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Thumb (dragging part) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.3rem;
}

/* Track (the part between the thumb and the top/bottom arrow buttons) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Arrow buttons */
::-webkit-scrollbar-button {
  display: none; // Hide scrollbar arrows
}

/* Corner (for horizontal and vertical scrollbars) */
::-webkit-scrollbar-corner {
  background: transparent; // Transparent corner
}
