@import "../../styles/theme";

.dashboard-wrapper {
  .welcome-message-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .welcome {
      color: $primaryDark;
      font-size: 1.5rem;
    }
    .tag-line {
      color: $primaryColor;
      font-size: 1rem;
    }
  }

  .row-wrapper {
    display: flex;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  .chart-card {
    background-color: $colorWhite;
    border-radius: 0.5rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    width: fit-content;
    padding: 1.5rem;
    .chart-heading {
      font-size: 1.2rem;
      color: $primaryDark;
      padding-bottom: 1rem;
      text-align: center;
    }
    .goal-status-chart {
      width: 15rem;
      height: 15rem;
    }
    .task-status-chart {
      width: 33rem;
      height: 15rem;
    }
    .priority-chart {
      width: 33rem;
      height: 15rem;
    }
    .count-row {
      display: flex;
      align-items: center;
      width: 15rem;
      margin-bottom: 1rem;
      .count-title {
        font-size: 1rem;
        color: $colorBlack;
        width: 80%;
      }
      .count {
        font-size: 1.5rem;
        color: $primaryColor;
        font-weight: 600;
      }
    }
    .no-insights-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 34rem;
      height: 15rem;
      text-align: center;
    }
    .insights-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 0.5rem;
      div {
        font-size: 1rem;
      }
    }
  }
}
