@import "../../styles/theme";

.goal-mamangement-wrapper {
  .content-container {
    height: 85vh;
    overflow-y: auto;
    margin-top: 1.5rem;
    border-radius: 0.7rem;
  }

  .table-container {
    .mat-mdc-row:hover {
      background-color: $secondaryLight;
      cursor: pointer;
    }
  }

  .no-goals-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .goal-list-image {
      width: 40%;
      height: 40%;
      padding-bottom: 2rem;
      padding-top: 3rem;
    }
    .no-goal-text {
      font-size: 1.2rem;
      color: $primaryColor;
      line-height: 3rem;
      text-align: center;
      font-weight: 500;
    }
  }
}
