<div class="goal-details-wrapper">
  <ww-page-title-bar
    pageTitle="Goal Details"
    [buttonText]="isEdit ? 'Cancel' : 'Update Goal'"
    [iconName]="isEdit ? 'clear' : 'edit'"
    (buttonPressed)="editGoal()"
  ></ww-page-title-bar>
  <ww-page-loader
    [loadingText]="
      isDeleteGoalLoading
        ? 'Deleting Goal Details...'
        : 'Loading Goal Details...'
    "
    *ngIf="isLoading || isDeleteGoalLoading"
  />
  <div
    class="goal-details-container"
    *ngIf="!isLoading && !isDeleteGoalLoading"
  >
    <form class="goal-form" [formGroup]="goalForm">
      <div class="form-group">
        <label>Title</label>
        <mat-form-field appearance="outline" class="form-field">
          <input matInput formControlName="title" placeholder="Enter Title" />
        </mat-form-field>
      </div>

      <div class="form-group">
        <label>Description</label>
        <mat-form-field appearance="outline" class="form-field">
          <textarea
            matInput
            formControlName="description"
            placeholder="Enter Description"
            rows="4"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Start Date</label>
          <mat-form-field appearance="outline" class="form-field">
            <input
              matInput
              formControlName="start_date"
              placeholder="Select Start Date"
              [matDatepicker]="startDatePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-group">
          <label>End Date</label>
          <mat-form-field appearance="outline" class="form-field">
            <input
              matInput
              formControlName="end_date"
              placeholder="Select End Date"
              [matDatepicker]="endDatePicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Status</label>
          <mat-radio-group class="radio-group" formControlName="status">
            <div class="radio-button-label">
              <mat-radio-button [value]="Status.Open"></mat-radio-button>
              <span>{{ Status.Open }}</span>
            </div>
            <div class="radio-button-label">
              <mat-radio-button [value]="Status.InProgress"></mat-radio-button>
              <span>{{ Status.InProgress }}</span>
            </div>
            <div class="radio-button-label">
              <mat-radio-button [value]="Status.Completed"></mat-radio-button>
              <span>{{ Status.Completed }}</span>
            </div>
            <div class="radio-button-label">
              <mat-radio-button [value]="Status.OnHold"></mat-radio-button>
              <span>{{ Status.OnHold }}</span>
            </div>
            <div class="radio-button-label">
              <mat-radio-button [value]="Status.Cancelled"></mat-radio-button>
              <span>{{ Status.Cancelled }}</span>
            </div>
          </mat-radio-group>
        </div>

        <div class="form-group">
          <label>Priority</label>
          <mat-radio-group class="radio-group" formControlName="priority">
            <div class="radio-button-label">
              <mat-radio-button [value]="Priority.Low"></mat-radio-button>
              <span>{{ Priority.Low }}</span>
            </div>
            <div class="radio-button-label">
              <mat-radio-button [value]="Priority.Medium"></mat-radio-button>
              <span>{{ Priority.Medium }}</span>
            </div>
            <div class="radio-button-label">
              <mat-radio-button [value]="Priority.High"></mat-radio-button>
              <span>{{ Priority.High }}</span>
            </div>
            <div class="radio-button-label">
              <mat-radio-button [value]="Priority.Urgent"></mat-radio-button>
              <span>{{ Priority.Urgent }}</span>
            </div>
          </mat-radio-group>
        </div>
      </div>
      <div class="button-container" *ngIf="isEdit">
        <button
          mat-raised-button
          color="primary"
          [disabled]="isGoalSaveLoading"
          (click)="updateGoalApiCall()"
        >
          <mat-spinner
            *ngIf="isGoalSaveLoading"
            diameter="20"
            strokeWidth="3"
          ></mat-spinner>
          <span *ngIf="!isGoalSaveLoading">Save Changes</span>
        </button>
      </div>
    </form>

    <div class="task-details">
      <div class="task-list-heading-row">
        <div class="task-list-heading">Task List</div>
        <button
          mat-raised-button
          color="primary"
          (click)="createNewTask()"
          *ngIf="isEdit"
        >
          <mat-icon style="vertical-align: middle">add</mat-icon>
          Add Task
        </button>
      </div>

      <div class="table-wrapper">
        <table
          mat-table
          [dataSource]="tasks"
          matSort
          class="table-container"
          *ngIf="tasks && !isLoading"
        >
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let task">{{ task.title }}</td>
          </ng-container>

          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Description
            </th>
            <td mat-cell *matCellDef="let task">{{ task.description }}</td>
          </ng-container>

          <!-- Start Date Column -->
          <ng-container matColumnDef="start_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Start Date
            </th>
            <td mat-cell *matCellDef="let task">
              {{ task.start_date | date }}
            </td>
          </ng-container>

          <!-- End Date Column -->
          <ng-container matColumnDef="end_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
            <td mat-cell *matCellDef="let task">{{ task.end_date | date }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let task">{{ task.status }}</td>
          </ng-container>

          <!-- Priority Column -->
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
            <td mat-cell *matCellDef="let task">{{ task.priority }}</td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let task">
              <button mat-icon-button (click)="editTask(task)" color="primary">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteTask(task)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matNoDataRow>
            <tr class="mat-row">
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                No Tasks available!
              </td>
            </tr>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>

    <div class="delete-goal-section">
      <div class="warning-text">
        Ready to bid adieu? Click here to delete the goal, but only if your
        sure.
      </div>
      <button mat-raised-button color="warn" (click)="deleteGoal()">
        <mat-icon style="vertical-align: middle">delete_sweep</mat-icon>
        Delete Goal
      </button>
    </div>
  </div>

  <ng-template #deleteConfirmationDialog>
    <h2 matDialogTitle>Confirm?</h2>
    <mat-dialog-content>
      <p>
        {{
          selectedTask
            ? "Are you sure you want to delete the task?"
            : "Deleting this goal will erase it permanently.Are you sure you want to proceed?"
        }}
      </p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button matDialogClose color="primary">Dismiss</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="isDeleteLoading"
        (click)="selectedTask ? deleteTaskApiCall() : deleteGoalApiCall()"
      >
        <mat-spinner
          *ngIf="isDeleteLoading"
          diameter="20"
          strokeWidth="3"
        ></mat-spinner>
        <span *ngIf="!isDeleteLoading">Delete</span>
      </button>
    </mat-dialog-actions>
  </ng-template>

  <ww-create-task
    *ngIf="showUpdateTask"
    (closeDialog)="closeDialog($event)"
    [taskDetails]="selectedTask"
    [taskType]="TaskType.GoalRelated"
    [goalId]="goalId"
  ></ww-create-task>
</div>
