<main class="login-page-wrapper">
  <section class="logo-wrapper">
    <img
      src="../../../assets/logo-pink-background.png"
      alt="App Logo"
      class="logo"
    />
  </section>
  <section class="login-wrapper">
    <div class="login-header">
      <p class="login-title">Ready to Dive In?</p>
      <p class="login-text">
        Login to Unleash the Magic of Adaptive Work Management
      </p>
    </div>
    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Enter Email"
            formControlName="email"
            type="email"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="Enter Password"
            formControlName="password"
            type="password"
          />
        </mat-form-field>
        <div class="button-container">
          <button
            mat-raised-button
            color="accent"
            type="submit"
            class="login-button"
            [disabled]="isLoading"
          >
            <mat-spinner
              *ngIf="isLoading"
              diameter="20"
              strokeWidth="3"
            ></mat-spinner>
            <span *ngIf="!isLoading">Login</span>
          </button>
        </div>
      </form>
    </div>
  </section>
</main>
