<mat-sidenav-container class="wrapper-container">
  <mat-sidenav mode="side" opened class="side-navigation">
    <div class="user-info">
      <img
        src="../../../assets/profile-avatar.png"
        alt="User Profile Picture"
        class="profile-picture"
      />
      <span class="user-name"
        >{{ authService.firstName }} {{ authService.lastName }}</span
      >
      <span class="user-email">{{ authService.email }}</span>
    </div>

    <mat-nav-list class="mat-nav-list">
      <a
        mat-list-item
        [routerLink]="menu.routerLink"
        class="mat-list-item"
        *ngFor="let menu of menuList; index as i"
        (click)="menuChanged(i)"
        [class.active]="selectedMenuIndex === i"
        ><span class="menu-name">{{ menu.title }}</span></a
      >
    </mat-nav-list>

    <div class="logout-container" (click)="logout()">
      <mat-icon style="vertical-align: middle">logout</mat-icon> Logout
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
